<html class="registerBackground">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <div class='container'>
    <form class="formRegister" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix" style="color:#fff">person</i>
          <input  
            name="fullname"
            id="fullname" 
            type="text"
            formControlName="name"
            [ngClass]="aplicaCssErro('name')"
          />
          <label for="fullname">Digite seu nome</label>
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('name')"
            msgErro="Nome é obrigatório."
          ></app-campo-control-erro>  
        </div>
        <div class="col s3"></div>
      </div>
      
      <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix" style="color:#fff">mail</i>
          <input  
            name="email"
            id="email"
            type="text"
            formControlName="email"
            [ngClass]="aplicaCssErro('email')"
            class="validate"
          >
          <label for="email">Email</label>
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('email')"
            msgErro="E-mail é obrigatório."
          ></app-campo-control-erro>
        </div>
        <div class="col s3"></div>
      </div>


      <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix " style="color:#fff">blur_on</i>
          <input  
            name="password"
            id="password"
            type="password"
            formControlName="password"
            [ngClass]="aplicaCssErro('password')"
            class="validate"
          >
          <label for="password">Digite sua senha</label>
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('password')"
            msgErro="Senha é obrigatório."
          ></app-campo-control-erro> 
        </div>
        <div class="col s3"></div>
      </div>



      <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6" style="text-align: center;">
          <button 
            class="btn waves-effect waves-light" 
            style="background-color:mediumpurple;" 
            type="submit" 
            name="action"
            >Confirmar
            <i class="material-icons right">done</i>
          </button>
          &nbsp;
          <button 
            class="btn waves-effect waves-light" 
            style="background-color:mediumpurple;" 
            type="button" 
            name="action"
            (click)="registerCancel()"
            >Voltar
            <i class="material-icons right">reply</i>
          </button>
        </div>
        <div class="col s3"></div>
      </div>

      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</html>