.registerBackground {
  background-image:url('../../../assets/image/gabriele-garanzelli-PzO_CitnJdI-unsplash.jpg');
  background-size: cover;
}

@media screen and (max-width: 500px){
  .registerBackground{
      background-attachment: fixed;
  }
}


