<html class="registerBackground">

  <div class='container'>
    <form class="formRegister" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <label class="regLabels" for="name">Digite seu nome</label>
          <input  
            class="form-control"
            name="name"
            id="name" 
            type="text"
            formControlName="name"
            [ngClass]="aplicaCssErro('name')"
          />
          <br>
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('name')"
            msgErro="Nome é obrigatório."
          ></app-campo-control-erro>  
        </div>
        <div class="col"></div>
      </div>
      
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <label class="regLabels" for="email">Digite seu e-mail</label>
          <input  
            class="form-control"
            name="email"
            id="email"
            type="text"
            formControlName="email"
            [ngClass]="aplicaCssErro('email')"
          >
          <br>
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('email')"
            msgErro="E-mail é obrigatório."
          ></app-campo-control-erro>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <label class="regLabels" for="password">Digite sua senha</label>
          <input  
            class="form-control"
            name="password"
            id="password"
            type="password"
            formControlName="password"
            [ngClass]="aplicaCssErro('password')"
          >
          <br>
          <app-campo-control-erro
            [mostrarErro]="verificaValidTouched('password')"
            msgErro="Senha é obrigatório."
          ></app-campo-control-erro> 
        </div>
        <div class="col"></div>
      </div>

      <div class="row" style="text-align: center;">
        <div class="col">
          <button 
            class="btn waves-effect waves-light" 
            style="background-color:mediumpurple;" 
            type="submit" 
            name="action"
            >Confirmar
          </button>
          &nbsp;
          <button 
            class="btn waves-effect waves-light" 
            style="background-color:lightsalmon;" 
            type="button" 
            name="action"
            (click)="registerCancel()"
            >Voltar
          </button>
        </div>
      </div>
    </form>
  </div>
</html>