<div class="container">
    
    <br>
    
    <form [formGroup]="reminder" (ngSubmit)="onSubmit()">  
     
        <div class="card">
            <div class="card-body">

                <h2 class="card-title">Novo lembrete</h2>

                <div class="row">

                    <div class="col-6">                        
                        <label for="locations">Local</label>
                        <input 
                        name= "locations" 
                        id= "locations" 
                        type="text"                              
                        formControlName="locations"
                        class="form-control"
                        />
                    </div>
                    
                    <div class="col-6">
                        <label for="day">Data</label>
                        <input 
                        name="day"    
                        id="day"  
                        type="date" 
                        placeholder=""
                        class="form-control"  
                        formControlName="day"         
                        />
                    </div>
                </div>

                <div class="row">

                    <div class="col-6">                    
                        <label for="start">Entrada</label>
                        <input 
                        name= "start" 
                        id= "start" 
                        type="date"                           
                        class="form-control"  
                        formControlName="start"
                        />
                    </div>

                    <div class="col-6">
                        <label for="end">Saida</label>
                        <input 
                        name= "end" 
                        id= "end" 
                        type="date"                              
                        class="form-control" 
                        formControlName="end"
                        />
                    </div>
                    
                    <div class="col"></div>

                    <div class="col-6">
                        <label for="atv_name">Atividades</label>
                        <input 
                        name= "atv_name"  
                        id= "atv_name"  
                        type="text"                              
                        class="form-control"
                        formControlName="atv_name"
                        />
                    </div>

                    <div class="col"></div>
                </div>  
                
                <button class="btn btn-primary" style="background-color:mediumpurple;" type="submit">Criar lembrete</button>

            </div>
        
        </div>

    </form>

    <br>
    <div class="card mb-3"  *ngFor="let item of reminderList">

        <div class="row g-0">

            <div class="col-md-4">
                <img src="./../../../assets/image/gabriele-garanzelli-PzO_CitnJdI-unsplash.jpg" width="200px" height="200px">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.locations }}&nbsp;-&nbsp;{{ item.day }}</h5>
                    <p class="card-text">Atividades:&nbsp;{{ item.atv_name.join(', ')}}</p>
                    <p class="card-text"><small class="text-muted">Entrada:&nbsp;{{ item.start}}</small></p>
                    <p class="card-text"><small class="text-muted">Saida:&nbsp;{{ item.end}}</small></p>
                    <button class="btn btn-danger" (click)="delReminder($event, item._id)">DELETAR LEMBRETE</button>
                </div>
            </div>
        </div>

    </div>

    <br>

    <a class="btn btn-primary" (click)="logoutApplication($event)">
        Logout
    </a>
      
</div>
