<h1>Bem vindo ! Faça seu login :)</h1>

<form>
  <label>
    User / e-mail
  </label>
  <div>
    <input type="text" placeholder="Digite seu user/e-mail!" />
  </div>
  <label>
    Password
  </label>
  <div>
    <input type="password" placeholder="Digite sua senha!" />
  </div>
  <div>
    <button type="submit" class="button">Login</button>
    <button class="button">Cancel</button>
  </div>

  <div>
    <a href="/cadastro"
      >Não tem conta? Clique aqui para registrar.</a
    >
  </div>
</form>
