/* .loginbackground {
    background-image:url('../../../image/animated.gif');
    background-size: cover;
}

@media screen and (max-width: 500px){
    .loginbackground{
        background-attachment: fixed;
    }
} */