<h1>Bem vindo ! :)</h1>

<form [formGroup]="login" (ngSubmit)="onSubmit()">  

  <div class="field">
    <input
    name="email"
    id="email"
    type="text"
    placeholder="Digite seu E-mail."
    formControlName="email"
    [ngClass]="aplicaCssErro('email')"
  />
    <label for="email">Digite seu  e-mail</label>
  </div>

  <app-campo-control-erro
    [mostrarErro]="verificaValidTouched('email')"
    msgErro="E-mail é obrigatório."
  ></app-campo-control-erro>

  <div class="field">
    <input
          name="password"
          id="password"
          type="password"
          placeholder="Digite sua senha."
          formControlName="password"
          [ngClass]="aplicaCssErro('password')"
        />
        <label for="password">Digite sua senha</label>
  </div>

  <app-campo-control-erro
    [mostrarErro]="verificaValidTouched('password')"
    msgErro="Senha é obrigatório."
  ></app-campo-control-erro>

  <div>
    <button type="submit" class="button">Login</button>
    <button class="button">Cancel</button>
  </div>

  <div>
    <a href="/cadastro">Não tem conta? Clique aqui para registrar.</a>
  </div>

  <app-form-debug [form]="login"></app-form-debug>
</form>
